<div class="container">
<p id="notice"><%= notice %></p>

  <div class="col-md-8">
    <table class="table table-bordered">
    <% @topics.each do |topic| %>
      <% user_id = @user.find(topic.user_id) %>
      <% name = user_id.name %>
      <tr><td id="index-name"><%= name %></td></tr>
      <tr><td id="index-td"><a href="/topics/<%= topic.id %>" class="font-color"><%= topic.title %></a></td></tr>
    <% end %>
    </table>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn navbar-btn "><a href="/topics/new" class="font-color">トピックを投稿する</a></button>
  </div>

</div>