/*a:visited {
    color: white;
}*/

#index-name{
    background-color: #634A32;
    border-color: #634A32;
    color: white;
}

#index-td{
    background-color: white;
    border-color: white;
}

.border{
    border-style:dotted;
}